img {
    pointer-events: none;
}

.logoBlock {
    padding: 30px 270px;
}

.jpgLogo {
    width: 50.43px;
    height: 44px;
}

.textLogo {
    width: 69.71px;
    height: 22px;
}

.languageSelect {
    width: 48px;
    height: 27px;
    border: 0;
    font-size: 17px;
}

/* ------------------------------------ */

.squareOnHeader {
    /* Rectangle 4174 */
    position: absolute;
    width: 256.75px;
    height: 256.75px;
    left: 723.05px;
    top: -170.45px;

    background: radial-gradient(95.51% 95.51% at 50% 50%, rgba(218, 218, 218, 0.15) 0%, rgba(250, 250, 250, 0.15) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    border-radius: 45.0024px;
    transform: rotate(-45deg);
}

.linkPages {
    /* Group 10510 */
    position: absolute;
    width: 347px;
    height: 22px;

    left: 853px;
    top: 62px;
}

.homeLink {
    /* Home */

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;

    /* Text/Primary */
    color: #FF474D;

    text-decoration: none;
}

.featuresLink {
    /* Features */

    padding-left: 50px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;

    /* Text/Main */
    color: #212121;

    text-decoration: none;
}

.companyLink {
    /* Company */

    padding-left: 50px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;

    /* Text/Main */
    color: #212121;

    text-decoration: none;
}

/* ----------------------------------- */


.start_button {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;


    color: #212121;

    position: absolute;
    left: 1500px;
    top: 52px;

    background: #FFFFFF;
    border-radius: 19.2px;
    border: 0;

    width: 156px;
    height: 48px;
}

/* -------------------------------------------------------- */

.endBlockRight {
    width: 250px;
    height: 100%;
    background: white;
    position: absolute;
    left: 2000px;
}

.menuButtom {
    position: fixed;
    left: 725px;
    top: 20px;

    display: none;
}
.menu {
    width: 768px;
    height: 1024px;
    background: white;
    position: absolute;
    left: 0px;
    top: 0px;

    display: none;
}

.menu .linkPages {
    
}

.menuClose {
    position: absolute;
    left: 725px;
    top: 20px;
    font-size: 30px;
    font-weight: 300;
    font-family: Inter;
}

.menuSquere_2 {
    position: absolute;
    left: -2px;
    top: 450px;
}

.menuSquere_1 {
    position: absolute;
    left: 500px;
    top: 0px;
}

.menuSqr {
    position: absolute;
    left: 600px;
    top: 635px;
}

.menu .homeLink {
    font-size: 24px;

    position: absolute;
    left: -40px;
    top: 240px;
}

.menu .featuresLink {
    font-size: 24px;

    position: absolute;
    left: -100px;
    top: 320px;
}

.menu .companyLink {
    font-size: 24px;

    position: absolute;
    left: -105px;
    top: 400px;
}

.menu .start_button {
   display: block;
   left: 320px;
   top: 850px;
   background: #FF474D;
   color: #FFFFFF;
}

.menu img {
    width: 365px;
    height: 40px;
    position: absolute;
    left: 220px;
    top: 940px;
}
/* .firstBlock {

} */

.squareOnFirstBlock {
    position: absolute;
    width: 343.75px;
    height: 343.75px;

    background: radial-gradient(95.51% 95.51% at 50% 50%, rgba(218, 218, 218, 0.15) 0%, rgba(250, 250, 250, 0.15) 100%);
    border-radius: 45.0024px;
    transform: rotate(-45deg);

    left: 200px;
    top: 500px;
}

.firstBlockStars {
    position: absolute;
    left: -50px;
    top: -5px;
}

.firstBlock h1 {
    font-family: Gilroy;
    font-size: 44px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;

    width: 478px;
    height: 105px;
}

.firstBlock p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #5C5C5C;

    width: 415px;
    height: 78px;
}

.firstBlock button {
    width: 220px;
    height: 56px;
    top: 503.00048828125px;
    left: 304px;
    border-radius: 18px;
    border: 0;

    background: #FF474D;
    color: #FFFFFF;

    font-family: Gilroy;
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}

.firstBlock h2 {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;

    width: 100px;
    height: 19px;

    position: absolute;
    left: 50px;
}

.firstBlockSmile {
    width: 16px;
    height: 16px;

    position: absolute;
    top: 347px;
    left: 155px;
}

.firstBlock aside {
    position: absolute;
    left: 280px;
    top: 250px;
}

.firstBlockRightSide {
    position: absolute;
    top: 300px;
    left: 800px;

}

.firstBlockRightSideDoubleBlock_1 {

    position: absolute;
    width: 1031.82px;
    height: 1049.93px;
    left: 251px;
    top: -355px;

    background: rgba(251, 36, 43, 0.6);
    border-radius: 136.463px;
    transform: rotate(-45deg);
}

.firstBlockRightSideDoubleBlock_2 {

    position: absolute;
    width: 964.17px;
    height: 964.17px;
    left: 280px;
    top: -330px;

    background: #FB242B;
    border-radius: 125.316px;
    transform: rotate(-45deg);
}

.ManySquers_1 {

    width: 193px;
    height: 146px;
    position: absolute;
    left: 199px;
    top: -1px;
}

.in_1_1 {
    width: 193px;
    display: flex;
}

.in_1_2 {
    width: 193px;
    display: flex;
    padding-top: 5px;
}

#mS_1_1 {
    position: relative;
    width: 15px;
    height: 15px;
    /* left: 736px;
top: 708.05px; */

    /* Radial/White 2 */
    background: radial-gradient(95.51% 95.51% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(250, 250, 250, 0.2) 100%);
    border-radius: 5.09665px;
    transform: rotate(-45deg);
    flex: 0 0 auto;
    margin: 2px 5px;
}

.ManySquers_2 {

    width: 329px;
    height: 250px;
    position: absolute;
    left: 570px;
    top: 256px;
}

#mS_2_1 {
    position: relative;
    width: 22.75px;
    height: 22.75px;


    /* Radial/White 2 */
    background: radial-gradient(95.51% 95.51% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(250, 250, 250, 0.2) 100%);
    border-radius: 5.09665px;
    transform: rotate(-45deg);

    flex: 0 0 auto;
    margin: 0 10px;
}

.in_2_1 {
    width: 193px;
    display: flex;
}

.in_2_2 {
    width: 193px;
    display: flex;
    padding-top: 15px;
}


.firstBlock_phone {
    position: relative;
    top: 62px;
    left: 106px;

    width: 275px;
    height: 430px;
}

.firstBlock_app {
    position: absolute;
    top: -222px;
    left: 270px;

    width: 880px;
    height: 660px;
}

.secondBlock {
    width: 1950px;
    height: 685px;
    background: #F6F6F6;
    z-index: 1;
    transform: skewY(-8deg);
    transform-origin: right bottom;
    border-radius: 50px 0px 0px 50px;

    position: absolute;
    left: 50px;
    top: 680px;
}

.secondBlock #mS_1_1 {
    width: 21px;
    height: 21px;

    background: radial-gradient(95.51% 95.51% at 50% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(250, 250, 250, 0.6) 100%);
    border-radius: 4.60437px;
    transform: rotate(-45deg);
    margin: 7px 8px;
}

.ManySquers_SecondBlock {
    position: absolute;
    left: 300px;
    top: 560px;
    transform: skewY(8deg);
}

.sec_Chats,
.sec_Orders,
.sec_Payments {
    /* Rectangle 666 */

    position: absolute;
    width: 280px;
    height: 115px;

    background: #FFFFFF;
    border-radius: 19.0256px;
    transform: rotate(16deg);

}

.sec_Chats {
    left: 335px;
    top: 115px;
}

.sec_Orders {
    left: 570px;
    top: 335px;
}

.sec_Payments {
    left: 300px;
    top: 425px;
}

.sec_Chats h1 {
    /* Chats */

    position: relative;
    width: 56.97px;
    height: 25.99px;

    left: 115px;
    top: 10px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 20.6111px;
    line-height: 26px;

    color: #212121;
}

.sec_Chats p {
    /* Connect to anyone in your supply chain and exchange messages */

    position: relative;
    width: 191.27px;
    height: 26.47px;
    left: 40px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #5C5C5C;
}

.sec_Orders h1 {
    position: relative;
    width: 56.97px;
    height: 25.99px;

    left: 105px;
    top: 10px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 20.6111px;
    line-height: 26px;

    color: #212121;
}

.sec_Orders p {
    position: relative;
    width: 191.27px;
    height: 26.47px;
    left: 40px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #5C5C5C;
}

.sec_Payments h1 {
    position: relative;
    width: 56.97px;
    height: 25.99px;

    left: 95px;
    top: 10px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 20.6111px;
    line-height: 26px;

    color: #212121;
}

.sec_Payments p {
    position: relative;
    width: 191.27px;
    height: 26.47px;
    left: 40px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #5C5C5C;
}

.sec_arrow1 {

    position: absolute;
    left: 605px;
    top: 220px;

    transform: rotate(8deg);
}

.sec_arrow2 {

    position: absolute;
    left: 435px;
    top: 327px;

}

.sec_stars1,
.sec_stars2,
.sec_stars3,
.sec_stars4 {
    position: absolute;
}

.sec_stars1 {
    width: 55px;
    height: 42px;

    left: 495px;
    top: 70px;
}

.sec_stars2 {
    width: 80px;
    height: 43px;

    left: 765px;
    top: 283px;
}

.sec_stars3 {
    width: 50px;
    height: 35px;

    left: 395px;
    top: 360px;
}

.sec_stars4 {
    width: 49px;
    height: 58px;

    left: 600px;
    top: 440px;
}

.icon_chats,
.icon_orders,
.icon_payments {
    position: absolute;
    width: 92px;
    height: 96px;
}

.icon_chats {
    left: 560px;
    top: 120px;
}

.icon_orders {
    left: 546px;
    top: 373px;
}

.icon_payments {
    left: 311px;
    top: 367px;
}

.ManySquers_SecondBlock_2 #mS_1_1 {
    width: 18px;
    height: 18px;

    background: radial-gradient(95.51% 95.51% at 50% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(250, 250, 250, 0.6) 100%);
    border-radius: 4.60437px;
    transform: rotate(-45deg);
    margin: 4px 6px;
}

.ManySquers_SecondBlock_2 {
    position: absolute;
    left: 1470px;
    top: 575px;

    transform: skewY(8deg);
}

.secondBlock_rightSide {
    width: 574px;
    height: 230px;

    position: absolute;
    left: 1060px;
    top: 285px;


    transform: skewY(8deg);
}

.secondBlock_rightSide button {
    width: 220px;
    height: 56px;

    position: absolute;
    left: 0px;
    top: 220px;

    background: #FFFFFF;
    border-radius: 18px;

    border: 0;

    /* Play Video */

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    /* Text/Main */
    color: #212121;

}

.secondBlock_rightSide button svg {
    margin-right: 5px;
}

.secondBlock_rightSide h1 {
    /* Check out how it works */

    position: absolute;
    width: 484px;
    height: 54px;
    left: 0px;
    top: -40px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;

    /* Text/Main */
    color: #212121;


}

.secondBlock_rightSide p {

    position: absolute;
    width: 574px;
    height: 72px;
    left: 0px;
    top: 42px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;

    /* Text/Second */
    color: #5C5C5C;

}

/* -------------------------------------------- */

.block_3_leftSide {
    position: absolute;
    left: 400px;
    top: 1850px;
}

.block_3_rightSide {
    position: absolute;
    left: 1050px;
    top: 1600px;
}

.block_3_but {
    width: 387px;
    height: 40px;

    background: white;

    position: absolute;
    left: 0px;
    top: 133px;

    display: flex;
    align-items: center;
}

.block_3_but button {
    border-radius: 8px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #212121;
}

.block_3_b_chats {
    width: 107px;
    height: 40px;

    border: 0;
}

.block_3_b_orders {
    width: 114px;
    height: 40px;
    margin-left: 30px;
    border: 0;
}

.block_3_b_payments {
    width: 134px;
    height: 40px;
    border: 0;
    margin-left: 27px;

}

.border1pxBlack {
    border: 1px solid black;
}

.block_3_rightSide img {
    display: none;
    width: 655px;
    height: 792px;
}

.block_3_leftSide .block_3_svg_2_2 {
    position: absolute;
    left: 0px;
    top: 19px;

    display: none;
}

.block_3_leftSide .block_3_svg_3_3 {
    position: absolute;
    left: 0px;
    top: 19px;

    display: none;
}

.block_3_but_more_1 {
    position: absolute;
    left: 0px;
    top: 314px;

    width: 210px;
    height: 56px;
    border-radius: 18px;

    background: #FF474D;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;

    text-align: center;

    color: #FFFFFF;

    border: 0;
}

/* -------------------------------------------- */

.midLine {
    position: absolute;
    left: -50px;
    top: 2500px;
}
.midLine_svg_375 {
    display: none;
}

/* -------------------------------------------- */

.blockAfterMidLine {
    position: absolute;
    left: 135px;
    top: 2530px;
}

.blockAfterMidLine img {
    width: 282px;
    height: 353px;

    position: absolute;
    left: 1180px;
    top: 605px;

    border-radius: 15px;
}
.blockAfterMidLine_375 {
    display: none;
}
/* -------------------------------------------- */

.block_5 {
    position: absolute;
    left: 0px;
    top: 3550px;
}
.block_5_svg_375 {
    display: none;
}
/* -------------------------------------------- */

.block_6 {
    position: absolute;
    left: 0px;
    top: 4700px;
}

.block_6_stars {
    position: absolute;
    left: 1785px;
    top: 220px;
}

.block_6 h1 {
    position: absolute;
    width: 580px;
    height: 108px;
    left: 330px;
    top: 235px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 54px;

    color: #212121;
}

.block_6 img {
    position: absolute;
    left: 100px;
    top: 190px;

    width: 987px;
    height: 688px;
}

.block_6_form {
    width: 440px;
    height: 533px;
    background: white;
    border-radius: 32px;

    position: absolute;
    left: 1180px;
    top: 325px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: black;
}

.block_6_form h2 {
    /* Hi, we’re Tinvio! And you? */

    position: absolute;
    width: 335px;
    height: 35px;
    left: 45px;
    top: 20px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;

    /* Text/Main */
    color: #212121;
}

.block_6_form legend {
    position: absolute;
    left: 45px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    /* Text/Second */
    color: #5C5C5C;
}

.block_6_form .lName {
    top: 110px;
}

.block_6_form .lBName {
    top: 200px;
}

.block_6_form .lPhone {
    top: 290px;
}

.block_6_form input {
    position: absolute;

    left: 45px;


    width: 344px;
    height: 48px;


    /* Inputs/Second for light mode */
    background: #F3F4F5;
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    border: 0;
    padding-left: 20px;
}

.block_6_form .inpName {
    top: 130px;
}

.block_6_form .inpBName {
    top: 220px;
}

.block_6_form .inpNumber {
    top: 310px;
}

.block_6_form button {
    /* Primary */

    position: absolute;
    width: 210px;
    height: 56px;


    /* Buttons / Primary */
    background: #FF474D;
    border-radius: 18.6667px;


    /* Continue */

    position: absolute;
    left: 110px;
    top: 400px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;

    text-align: center;

    color: #FFFFFF;
    border: 0;
}

.block_6_form p {
    /* No spam, promise */

    position: absolute;
    width: 135px;
    height: 19px;
    left: 135px;
    top: 460px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    /* Text/Placeholder */
    color: #BDBDBD;

}

.block_6_form svg {
    position: absolute;

    left: 140px;
    top: 0px;
}

/* -------------------------------------------- */

footer {
    position: absolute;
    left: 0px;
    top: 5675px;
    width: 1919px;
    height: 157px;
}

footer a {
    position: absolute;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;

    color: #212121;


}

.footer_logo {
    position: absolute;
    left: 290px;
    top: 50px;
}

.footerLine {
    position: absolute;
    left: 440px;
    top: 60px;
}

.footer_linkPages {
    /* Group 10510 */
    position: absolute;
    width: 347px;
    height: 22px;

    left: 500px;
    top: 61px;

}

.footer_linkPages .homeLink {
    /* Home */

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;

    /* Text/Primary */
    color: #212121;

    text-decoration: none;
}

.footer_linkPages .featuresLink {
    /* Features */

    position: absolute;
    left: 30px;
    top: 0px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;

    /* Text/Main */
    color: #212121;

    text-decoration: none;
}

.footer_linkPages .companyLink {
    /* Company */

    position: absolute;
    left: 135px;
    top: 0px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;

    /* Text/Main */
    color: #212121;

    text-decoration: none;
}

.footer_linkPages .footer_login {
    /* Features */

    position: absolute;
    left: 315px;
    top: 0px;
    ;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;

    /* Text/Main */
    color: #212121;

    text-decoration: none;
}

.footer_rightSide {
    position: absolute;
    left: 1290px;
    top: 55px;
}

.footer_rightSide img {
    width: 350px;
    height: 35px;
}

.footer_end {
    position: absolute;
    left: 295px;
    top: 130px;
}

.footer_privPol {
    position: absolute;
    left: 218px;
    top: -12px;

    background: white;
    color: #BDBDBD;

    width: 75px;
    height: 15px;

    padding: 5px;
    font-size: 12px;

    text-decoration: none;
}

.footer_termsOfServ {
    position: absolute;
    left: 310px;
    top: -12px;

    background: white;
    color: #BDBDBD;

    width: 90px;
    height: 15px;

    padding: 5px;
    font-size: 12px;

    text-decoration: none;
}

/* -------------------------------------- */

/* 1440 px */

@media (max-width: 1440px) {
    .logoBlock {
        padding: 30px 90px;
    }

    .linkPages {
        left: 480px;
    }

    .squareOnHeader {
        left: 310px;
    }

    header button {
        left: 1150px;
    }

    .firstBlock aside {
        left: 80px;
    }

    .firstBlockRightSide {
        left: 515px;
    }

    .squareOnFirstBlock {
        left: -40px;
    }

    /* --------------- */
    .ManySquers_SecondBlock {
        left: 30px;
    }

    .secondBlock_leftSide {
        position: absolute;
        left: -230px;
    }

    .ManySquers_SecondBlock_2 {
        left: 1150px;
    }

    .secondBlock_rightSide {
        left: 770px;
    }

    /* --------------------- */
    .block_3_leftSide {
        left: 150px;
    }

    .block_3_rightSide {
        left: 785px;
    }

    /* ------------- */
    .midLine {
        left: -380px;
    }

    /* ------------- */
    .blockAfterMidLine {
        left: -175px;
    }

    /* ------------- */
    .block_5 {
        left: -180px;
    }

    /* ------------- */
    .block_6 {
        left: -500px;
    }

    .block_6_form {
        left: 1350px;
    }

    .block_6 h1 {
        left: 650px;
    }

    .block_6 img {
        left: 300px;
    }

    footer {
        left: -245px;
    }
}

/* -------------------------------------- */
/* 1280 px */
@media (max-width: 1280px) {
    .logoBlock {
        padding: 30px 90px;
    }

    .linkPages {
        left: 480px;
    }

    .squareOnHeader {
        left: 310px;
    }

    header button {
        left: 1030px;
    }

    .firstBlock aside {
        left: 80px;
    }

    .firstBlockRightSide {
        left: 465px;
    }

    .squareOnFirstBlock {
        left: -40px;
    }

    /* --------------- */
    .ManySquers_SecondBlock {
        left: 30px;
    }

    .secondBlock_leftSide {
        position: absolute;
        left: -280px;
    }

    .ManySquers_SecondBlock_2 {
        left: 990px;
    }

    .secondBlock_rightSide {
        left: 655px;
    }

    /* --------------------- */
    .block_3_leftSide {
        left: 90px;
    }

    .block_3_rightSide {
        left: 625px;
    }

    /* ------------- */
    .midLine {
        left: -455px;
    }

    /* ------------- */
    .blockAfterMidLine {
        left: -260px;
    }

    /* ------------- */
    .block_5 {
        left: -315px;
    }

    /* ------------- */
    .block_6 {
        left: -645px;
    }

    .block_6_form {
        left: 1385px;
    }

    .block_6 h1 {
        left: 720px;
    }

    .block_6 img {
        left: 355px;
    }

    .block_6_stars {
        left: 1765px;
    }

    /* ------------- */
    footer {
        left: -260px;
    }

    .footer_rightSide {
        left: 1100px;
    }

    /* ------------- */
    .endBlockRight {
        display: none;
    }
}

/* -------------------------------------- */

/* 1024 px */

@media (max-width: 1024px) {
    .logoBlock {
        padding: 30px 60px;
    }

    .linkPages {
        left: 385px;
    }

    .squareOnHeader {
        left: 220px;
    }

    header button {
        left: 840px;
    }
/* ------ */
    .firstBlock aside {
        left: 25px;
    }
    .firstBlock h1 {
        font-size: 34px;
    }
    .firstBlock p {
        font-size: 18px;
    }
    .firstBlock button {
        width: 191px;
        height: 51px;
        font-size: 18px;
    }
    .firstBlockRightSide {
        left: 345px;
    }

    .squareOnFirstBlock {
        left: -130px;
    }

    /* --------------- */
    .secondBlock {
        left: 0px;
    }
    .secondBlock_rightSide h1 {
        font-size: 34px;
    }
    .secondBlock_rightSide p {
        font-size: 18px;
        width: 385px;
    }
    .ManySquers_SecondBlock {
        left: 30px;
    }

    .secondBlock_leftSide {
        position: absolute;
        left: -280px;
    }

    .ManySquers_SecondBlock_2 {
        left: 855px;
    }

    .secondBlock_rightSide {
        left: 635px;
        top: 215px;
    }

    /* --------------------- */
    .block_3_leftSide {
        left: 20px;
    }

    .block_3_rightSide {
        left: 415px;
    }
    .block_3_svg_2_2, .block_3_svg_3_3 {
        width: 450px;
    }
    .block_3_but {
        top: 136px;
    }
    .block_3_svg_1_1 {
        width: 420px;
    }
    .block_3_but_more_1 {
        height: 62px;
        top: 279px;
        left: -2px;
    }
    /* ------------- */
    .midLine {
        left: -260px;
    }
    .midLine svg {
        width: 1500px;
    }

    /* ------------- */
    .blockAfterMidLine {
        left: -260px;
    }
    .blockAfterMidLine svg {
        width: 1600px;
    }
    .blockAfterMidLine img {
        width: 237px;
        height: 299px;
        left: 1015px;
    }
    /* ------------- */
    .block_5 {
        left: -145px;
    }
    .block_5 svg {
        width: 1400px;
    }
    /* ------------- */
    .block_6 {
        left: -645px;
    }
    .block_6 svg {
        width: 1630px;
    }
    .block_6_form {
        left: 1145px;
        top: 360px;
    }

    .block_6 h1 {
        left: 720px;
        font-size: 34px;
        top: 280px;
    }

    .block_6 img {
        left: 355px;
        width: 800px;
        height: 480px;
        top: 300px;
    }

    .block_6_stars {
            left: 780px;
            top: 260px;
    }

    /* ------------- */
    footer {
        left: -260px;
    }

    .footer_rightSide {
        left: 940px;
    }
    .footer_rightSide img {
        width: 309px;
        height: 32px;
    }
    /* ------------- */
    .endBlockRight {
        display: none;
    }
}

/* -------------------------------------- */
/* 768 px */

@media (max-width: 768px) {
    .logoBlock {
        padding: 30px 60px;
    }

    header .linkPages {
        display: none;
    }

    header button {
        display: none;
    }

    .squareOnHeader {
        display: none;
    }

/* ------ */
    .firstBlock aside {
        left: 250px;
        top: 135px;
    }
    .firstBlock h1 {
        font-size: 34px;
    }
    .firstBlock p {
        font-size: 18px;
    }
    .firstBlock button {
        width: 191px;
        height: 51px;
        font-size: 18px;
    }
    .firstBlockRightSide {
        left: -95px;
        top: 665px;
    }
    .firstBlockRightSideDoubleBlock_1 {
        left: -400px;
        top: -85px;
    }
    .firstBlockRightSideDoubleBlock_2 {
        left: -380px;
        top: -40px;
    }
    .squareOnFirstBlock {
        display: none;
    }
    .firstBlockSmile {
        top: 325px;
    }

    /* --------------- */
    .secondBlock {
        left: 0px;
        top: 920px;
        height: 1050px;
    }
    .secondBlock_rightSide h1 {
        font-size: 34px;
        text-align: center;
    }
    .secondBlock_rightSide p {
        font-size: 18px;
        width: 530px;
        text-align: center;
    }
    .secondBlock_rightSide button {
        left: 150px;
        top: 175px;
    }
    .ManySquers_SecondBlock {
        left: 30px;
        top: 375px;
    }

    .secondBlock_leftSide {
        position: absolute;
        left: -140px;
        top: 430px;
    }

    .ManySquers_SecondBlock_2 {
        left: 855px;
    }

    .secondBlock_rightSide {
        left: 155px;
        top: 120px;
    }

    /* --------------------- */
    .block_3_leftSide {
        left: 230px;
        top: 2265px;
    }

    .block_3_rightSide {
        left: 115px;
        top: 2645px;
    }
    .block_3_svg_2_2, .block_3_svg_3_3 {
        width: 450px;
    }
    .block_3_but {
        top: 136px;
    }
    .block_3_svg_1_1 {
        width: 420px;
    }
    .block_3_but_more_1 {
        height: 62px;
        top: 279px;
        left: 80px;
    }
    /* ------------- */
    .midLine {
        left: -180px;
        top: 3440px;
    }
    .midLine svg {
        width: 1100px;
    }

    /* ------------- */
    .blockAfterMidLine {
        left: -165px;
        top: 3350px;
    }
    .blockAfterMidLine svg {
        width: 1130px;
    }
    .blockAfterMidLine img {
        width: 183px;
        height: 214px;
        left: 710px;
    }
    /* ------------- */
    .block_5 {
        left: -145px;
        top: 4000px;
    }
    .block_5 svg {
        width: 1080px;
    }
    /* ------------- */
    .block_6 {
        left: -645px;
    }
    .block_6 svg {
        width: 1630px;
    }
    .block_6_form {
        left: 840px;
        top: 430px;
    }

    .block_6 h1 {
        left: 815px;
        font-size: 34px;
        top: 280px;
    }

    .block_6 img {
        left: 615px;
        width: 800px;
        height: 480px;
        top: 910px;
        background: #F6F6F6;
    }

    .block_6_stars {
            left: 780px;
            top: 260px;
    }

    /* ------------- */
    footer {
        left: -260px;
        top: 6170px;
    }

    .footer_rightSide {
        left: 525px;
    }
    .footer_rightSide img {
        width: 309px;
        height: 32px;
    }
    /* ------------- */
    .endBlockRight {
        display: none;
    }
    .footer_logo {
        top: -45px;
        left: 620px;
    }
    .footerLine {
        display: none;
    }
    .footer_linkPages {
        left: 500px;
        top: 15px;
    }


    .menuButtom {
        position: fixed;
        left: 725px;
        top: 20px;
    
        display: block;
    }
    
}
/* -------------------------------------- */
/* 375 px */

@media (max-width: 375px) {
    .logoBlock {
        padding: 15px 5px;
    }

    header .linkPages {
        display: none;
    }

    header button {
        display: none;
    }

    .squareOnHeader {
        left: 270px;
        top: 0px;

        display: block;
    }

/* ------ */
    .firstBlock aside {
        left: -45px;
        top: 135px;
    }
    .firstBlock h1 {
        font-size: 28px;
        text-align: center;
    }
    .firstBlock p {
        font-size: 14px;
        text-align: center;
        position: absolute;
        left: 30px;
        top: 125px;
    }
    .firstBlock button {
        width: 191px;
        height: 51px;
        font-size: 18px;

        position: absolute;
        left: 145px;
        top: 240px;
    }
    .firstBlock h2 {
        left: 170px;
        top: 284px;
    }
    .firstBlockRightSide {
        left: -126px;
        top: 688px;
    }
    .firstBlockRightSideDoubleBlock_1 {
        left: -270px;
        top: -110px;

        width: 865px;
        height: 927px
    }
    .firstBlockRightSideDoubleBlock_2 {
        left: -330px;
        top: -40px;

        width: 842.17px;
        height: 713.17px
    }
    .squareOnFirstBlock {
        display: none;
    }
    .firstBlockSmile {
        left: 280px;
        top: 300px;
    }
    .firstBlock_phone {
        width: 145px;
        height: 221px;
        left: 126px;
        top: 27px;
    }
    .firstBlock_app {
        width: 580px;
        height: 372px;
        left: 197px;
        top: -165px;
    }
    .ManySquers_1 {
        left: 120px;
        top: -180px;
    }
    .ManySquers_2 {
        left: 175px;
        top: 45px;
    }
    /* --------------- */
    .secondBlock {
        left: -1px;
        top: 690px;
        height: 1050px;
    }
    .secondBlock_rightSide h1 {
        font-size: 28px;
        text-align: center;
    }
    .secondBlock_rightSide p {
        font-size: 14px;
        width: 280px;
        text-align: center;
        position: absolute;
        left: 100px;
        top: 25px;
    }
    .secondBlock_rightSide button {
        left: 135px;
        top: 175px;
    }
    .ManySquers_SecondBlock {
        left: 30px;
        top: 375px;
    }

    .secondBlock_leftSide {
        position: absolute;
        left: -295px;
        top: 320px;
    }

    .ManySquers_SecondBlock_2 {
        left: 855px;
    }

    .secondBlock_rightSide {
        left: -46px;
        top: 120px;
    }
    .sec_Chats, .sec_Orders, .sec_Payments {
        width: 200px;
        height: 75px;
    }
    .sec_Chats h1 {
        font-size: 16px;
        left: 80px;
        top: 0px;
    }
    .sec_Chats p {
        font-size: 8px;
        left: 8px;
        top: -12px;
    }
    .icon_chats, .icon_orders, .icon_payments {
        width: 40px;
        height: 45px;
    }
    .icon_chats {
        left: 520px;
        top: 130px;
    }
    .sec_Orders {
        left: 462px;
        top: 305px;
    }
    .sec_Orders h1 {
        left: 70px;
        top: -5px;
    }
    .sec_Orders p {
        left: 7px;
        top: -20px;
    }
    .sec_Payments h1 {
        left: 60px;
        top: -5px;
    }
    .sec_Payments p {
        left: 8px;
        top: -20px;
    }
    .icon_orders {
        left: 638px;
        top: 320px;
    }
    .icon_payments{
        left: 480px;
        top: 440px;
    }
    .sec_arrow2 {
        width: 100px;
        left: 360px;
    }
    .sec_arrow1 {
        width: 110px;
        left: 513px;
        top: 202px;
        transform: rotate(24deg);
    }
    /* --------------------- */
    .block_3_leftSide {
        left: 30px;
        top: 1990px;
    }

    .block_3_rightSide {
        left: -29px;
        top: 2345px;
    }
    .block_3_svg_2_2, .block_3_svg_3_3 {
        width: 350px;
    }
    .block_3_but {
        top: 136px;
    }
    .block_3_svg_1_1 {
        width: 320px;
    }
    .block_3_but_more_1 {
        height: 62px;
        top: 279px;
        left: 80px;
    }
    .block_3_but {
        width: 325px;
        height: 52px;
    }
    .block_3_but_more_1 {
        width: 180px;
        height: 46px;
        top: 279px;
        left: 64px;
    }
    .block_3_svg_1 {
        width: 543px;
        height: 492px;
    }
    .block_3_rightSide img {
        width: 405px;
        height: 492px;
    }
    /* ------------- */
    .midLine {
        left: -360px;
        top: 2930px;
    }
    .midLine .midLine_svg_default {
        display: none;
    }
    .midLine_svg_375 {
        display: block;
    }

    /* ------------- */
    .blockAfterMidLine {
        left: -165px;
        top: 3350px;
    }
    .blockAfterMidLine svg {
        display: none;
    }
    .blockAfterMidLine img {
        display: none;
    }
    .blockAfterMidLine_375 {
        position: absolute;
        left: 1px;
        top: 3395px;
        width: 375px;
        height: 965px;
        display: block;
    }
    /* ------------- */
    .block_5 {
        display: none;
    }
    .block_5 svg {
        width: 1080px;
    }
    .block_5_svg_375 {
        position: absolute;
        left: 0px;
        top: 4410px;
        display: block;
    }
    /* ------------- */
    .block_6 {
        left: -845px;
        top: 5030px;
    }
    .block_6 svg {
        display: none;
    }
    .block_6_form {
        left: 840px;
        top: 430px;
    }

    .block_6 h1 {
        left: 873px;
        font-size: 28px;
        top: 235px;
        width: 315px;
        text-align: center;
    }

    .block_6 img {
        left: 649px;
        width: 569px;
        height: 459px;
        top: 963px;
        background: white;
    }

    .block_6_stars {
            left: 780px;
            top: 260px;
    }
    .block_6_form input {
        width: 270px;
        font-size: 12px;
        padding-left: 10px;
    }
    .block_6_form legend {
        font-size: 10px;
    }
    .block_6_form button {
        width: 180px;
        left: 90px;
    }
    .block_6_form p {
        left: 115px;
    }
    .block_6_form h2 {
        font-size: 20px;
        text-align: center;
        left: 21px;
    }

    /* ------------- */
    footer {
        left: -260px;
        top: 6770px;
    }

    .footer_rightSide {
        left: 300px;
    }
    .footer_rightSide img {
        width: 309px;
        height: 32px;
    }
    /* ------------- */
    .endBlockRight {
        display: none;
    }
    .footer_logo {
        top: -215px;
        left: 395px;
    }
    .footerLine {
        display: none;
    }
    .footer_linkPages {
        left: 270px;
        top: 15px;
    }
    .footer_linkPages .homeLink {
        position: absolute;
        left: 150px;
        top: -160px;
    }
    .footer_linkPages .featuresLink {
        left: 90px;
        top: -115px;
    }
    .footer_linkPages .companyLink {
        left: 88px;
        top: -70px;
    }
    .footer_linkPages .footer_login {
        left: 157px;
        top: -25px;
    }
    .footer_end {
        left: 345px;
        top: 100px;
    }
    .menuButtom {
        position: fixed;
        left: 335px;
        top: 40px;
    
        display: block;
    }
    .footer_privPol {
        left: 10px;
        top: 20px;
    }
    .footer_termsOfServ {
        left: 100px;
        top: 20px;
    }
    .menu {
        width: 375px;    
        display: none;
    }
    .menu .linkPages {
        left: 205px;
    }
    .menuSquere_1 {
        left: 170px;
    }
    .menuSqr {
        left: 200px;
        top: 545px;
    }
    .menuClose {
        left: 330px;
    }
    .menu .start_button {
        display: none;
    }
    .menu img {
        display: none;
    }
}
/* -------------------------------------- */


