img {
    pointer-events: none;
}

.logoBlock {
padding: 30px 270px;
}

.jpgLogo {
    width: 50.43px;
    height: 44px;
}
.textLogo {
    width: 69.71px;
    height: 22px;
}
.languageSelect {
    width: 48px;
    height: 27px;
    border: 0;
    font-size: 17px;
}

/* ------------------------------------ */

.linkPages {
/* Group 10510 */
position: absolute;
width: 347px;
height: 22px;

left: 853px;
top: 62px;
}

.homeLink {
/* Home */

font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */
text-align: center;

/* Text/Primary */
color: #212121;

text-decoration: none;
}

.featuresLink {
/* Features */

padding-left: 50px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */
text-align: center;

/* Text/Main */
color: #FF474D;

text-decoration: none;
}

.companyLink {
    /* Company */
    
    padding-left: 50px;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    
    /* Text/Main */
    color: #212121;

    text-decoration: none;
    }
/* ----------------------------------- */


header button {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;


    color: #fff;

    position: absolute;
    left: 1500px;
    top: 52px;
    
    background: #FF474D;
    border-radius: 19.2px;
    border: 0;

    width: 156px;
    height: 48px;
}

/* -------------------------------------------------------- */

.block_1_stars {
    position: absolute;
    left: 620px;
    top: 160px;
}

.block_1 h1 {

position: absolute;
width: 700px;
height: 138px;
left: 628px;
top: 152px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 69px;
text-align: center;

color: #212121;
}

.block_1 p {
position: absolute;
width: 537px;
height: 50px;
left: 692px;
top: 330px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

text-align: center;

/* Text/Second */
color: #5C5C5C;
}

.block_1 button {
/* Group 10084 */

position: absolute;
width: 219.33px;
height: 56px;
left: 847.33px;
top: 435px;

background: #FF474D;
border-radius: 18px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;

text-align: center;

/* Text / White */
color: #FFFFFF;
border: 0;
}

.block_1_mid {
    position: absolute;
    width: 1312px;
    height: 600px;
    left: 300px;
    top: 560px;
}

/* -------------------------------------------------------- */

.block_2 svg {
    position: absolute;
    left: 0px;
    top: 1300px;
}

.block2_phone {
    width: 252px;
    height: 328px;
    position: absolute;

    left: 465px;
    top: 2054px;
    border-radius: 18px;
}

.block2_chat {
    width: 690px;
    height: 460px;

    position: absolute;
    left: 997px;
    top: 1403px;

    border-radius: 25px;
}



.block_3_svg_squers {
    position: absolute;
    left: 210px;
    top: 2925px;
}

.block_3 h1 {
position: absolute;
width: 454px;
height: 108px;
left: 304px;
top: 2724px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 44px;
line-height: 54px;

/* Text/Main */
color: #212121;
}

.block_3 p {
position: absolute;
width: 477px;
height: 125px;
left: 304px;
top: 2880px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;

color: #5C5C5C;
}

.block_3_rightSide {
    position: absolute;
    left: 1100px;
    top: 2500px;
}

.block_3_chat_boy, .block_3_chat_girl {
    position: absolute;
    width: 124px;
    height: 124px;
    border-radius: 100px;
}

.block_3_chat_boy {
    left: 1230px;
    top: 2874px;
}

.block_3_chat_girl {
    left: 1600px;
    top: 2780px;
}

/* -------------------------------------------------------- */

.block_4 {
    position: absolute;
    left: 0px;
    top: 3340px;
}

.block_4 button {

    position: absolute;
    width: 219px;
    height: 56px;
    left: 1397px;
    top: 80px;

    background: #FFFFFF;
    border-radius: 18px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    text-align: center;

    color: #212121;
    border: 0;
}

/* -------------------------------------------------------- */

.block_5 {
    position: absolute;
    left: 0px;
    top: 3700px;
}

.block_5 svg {
    position: absolute;
    left: 325px;
}

.block_5_bg {
    position: absolute;
    left: 355px;
    top: 130px;

    border-radius: 45px;
}

/* -------------------------------------------------------- */

.block_6 {
    position: absolute;
    left: 0px;
    top: 4415px;
}

.block_6 img {
    width: 760px;
    height: 760px;
    
    position: absolute;
    left: 260px;
    top: 80px;
}

.block_6 h1 {
    position: absolute;
    width: 448px;
    height: 108px;
    left: 1185px;
    top: 300px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;

    color: #212121;
}

.block_6 p {
    position: absolute;
    width: 484px;
    height: 135px;
    left: 1185px;
    top: 460px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: #5C5C5C;
}

/* -------------------------------------------------------- */

.block_7 {
    position: absolute;
    left: 0px;
    top: 5225px;
}

.block_7 svg {
    position: absolute;
    left: 65px;
    top: 0px;
}

.block_7 img {
    position: absolute;
    left: 920px;
    top: 0px;

    width: 790px;
    height: 790px;
}

/* -------------------------------------------------------- */

.block_8 {
    position: absolute;
    left: 0px;
    top: 6000px;
}

.block_8 img {
    position: absolute;
    left: 370px;
    top: 180px;
    
    width: 806px;
    height: 700px;
    border-radius: 27px;
}

.block_8 svg {
    position: absolute;
    top: 0px;
    left: 1230px;
}

/* -------------------------------------------------------- */

.block_9 {
    position: absolute;
    left: 0px;
    top: 6880px;
}

.block_9 svg {
    position: absolute;
    left: 0px;
    top: 120px;
}

.block_9 button {
position: absolute;
width: 219.33px;
height: 56px;
left: 850px;
top: 360px;

background: #FF474D;
border-radius: 18px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;

text-align: center;

color: #FFFFFF;
border: 0px;
}

/* -------------------------------------------------------- */

.block_FAQ {
    position: absolute;
    left: 320px;
    top: 7530px;
    width: 1060px;
    min-height: 330px;

    padding: 20px 20px;
    margin-bottom: 100px;
}

hr {
    border: 0.5px solid #D2D2D2;
}

.block_FAQ h1 {
    position: absolute;
    width: 77px;
    height: 49px;
    left: 602px;
    top: -100px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;

    color: #212121;
}

.block_FAQ h2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;

    color: #212121;
}

.block_FAQ p {
    width: 1032px;
    height: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;

    color: #212121;

    display: none;
}

.block_FAQ .plus {
    position: absolute;
    left: 1065px;
    font-size: 34px;
}

/* -------------------------------------------------------- */


footer {
    position: absolute;
    left: 0px;
    top: 8190px;
    width: 1919px;
    height: 157px;
}

footer a {
    position: absolute;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;

    color: #212121;
    

}

.footer_logo {
    position: absolute;
    left: 290px;
    top: 50px;
}

.footerLine {
    position: absolute;
    left: 440px;
    top: 60px;
}

.footer_linkPages {
    /* Group 10510 */
    position: absolute;
    width: 347px;
    height: 22px;
    
    left: 500px;
    top: 61px;

}
    
.footer_linkPages .homeLink {
    /* Home */
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    
    /* Text/Primary */
    color: #212121;
    
    text-decoration: none;
}
    
.footer_linkPages .featuresLink {
    /* Features */
    
    position: absolute;
    left: 30px;
    top: 0px;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    
    /* Text/Main */
    color: #212121;
    
    text-decoration: none;
}
    
.footer_linkPages .companyLink {
        /* Company */

        position: absolute;
        left: 135px;
        top: 0px;
        
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        text-align: center;
        
        /* Text/Main */
        color: #212121;
    
        text-decoration: none;
}

.footer_linkPages .footer_login {
    /* Features */
    
    position: absolute;
    left: 315px;
    top: 0px;;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    
    /* Text/Main */
    color: #212121;
    
    text-decoration: none;
}

.footer_rightSide {
    position: absolute;
    left: 1290px;
    top: 55px;
}

.footer_rightSide img {
    width: 350px;
    height: 35px;
}

.footer_end {
    position: absolute;
    left: 295px;
    top: 130px;
}

.footer_privPol {
    position: absolute;
    left: 218px;
    top: -12px;

    background: white;
    color: #BDBDBD;

    width: 75px;
    height: 15px;

    padding: 5px;
    font-size: 12px;

    text-decoration: none;
}

.footer_termsOfServ {
    position: absolute;
    left: 310px;
    top: -12px;

    background: white;
    color: #BDBDBD;

    width: 90px;
    height: 15px;

    padding: 5px;
    font-size: 12px;

    text-decoration: none;
}

/* ------------------------------------------------------------- */

@media (max-width: 1440px) {
    .logoBlock {
        padding: 30px 90px;
    }

    .linkPages {
        left: 480px;
    }

    header button {
        left: 1150px;
    }

    /* --- */
    .block_1 {
        position: absolute;
        left: -230px;
        top: 0px;
    }
    /* --- */
    .block_2 {
        position: absolute;
        left: -200px;
        top: 0px;
    }
    .block_2_svg_1 {
        width: 1720px;
    }
    .block2_chat {
        left: 925px;
        top: 1448px;

        width: 583px;
        height: 413px;
    }
    .block2_phone {
        left: 416px;
        top: 2033px;
        width: 225px;
        height: 290px;
    }

    /* --- */

    .block_3 h1 {
        left: 100px;
    }
    .block_3 p {
        left: 100px;
    }
    .block_3_rightSide {
        left: 675px;
    }
    .block_3_chat_boy {
        left: 810px;
    }
    .block_3_chat_girl {
        left: 1158px;
    }

    /* --- */

    .block_4_line {
        width: 1440px;
    }
    .block_4 button {
        left: 1100px;
    }

    /* --- */
    
    .block_5 {
        left: -265px ;
    }

    /* --- */

    .block_6 {
        left: -250px;
    }

    /* --- */

    .block_7 {
        left: -280px;
    }

    /* --- */

    .block_8 {
        left: -310px;
    }
    
    /* --- */

    .block_9 {
        left: -290px;
    }

    /* --- */

    .block_FAQ {
        left: 45px;
    }

    /* --- */
    footer {
        left: -215px;
    }
}

/* ------------------------------------------------------------- */

@media (max-width: 1280px) {
    .logoBlock {
        padding: 30px 90px;
    }

    .linkPages {
        left: 480px;
    }

    header button {
        left: 1040px;
    }

    /* --- */
    .block_1 {
        position: absolute;
        left: -300px;
        top: 0px;
    }
    .block_1_mid {
        width: 1231px;
        height: 565px;
        left: 328px;
    }
    /* --- */
    .block_2 {
        position: absolute;
        left: -200px;
        top: 0px;
    }
    .block_2_svg_1 {
        width: 1580px;
    }
    .block2_chat {
        left: 851px;
        top: 1481px;

        width: 535px;
        height: 377px;
    }
    .block2_phone {
        left: 382px;
        top: 2017px;
        width: 207px;
        height: 268px;
    }

    /* --- */

    .block_3 h1 {
        left: 90px;
    }
    .block_3 p {
        left: 90px;
    }
    .block_3_rightSide {
        left: 605px;
    }
    .block_3_chat_boy {
        left: 740px;
    }
    .block_3_chat_girl {
        left: 1088px;
    }

    /* --- */

    .block_4_line {
        width: 1270px;
    }
    .block_4 button {
        left: 970px;
    }

    /* --- */
    
    .block_5 {
        left: -265px ;
    }
    .block_5 svg {
        width: 1200px;
    }
    .block_5_bg {
        width: 1095px;
        height: 550px;
    }

    /* --- */

    .block_6 {
        left: -415px;
    }
    .block_6 img {
        width: 716px;
        height: 706px;
        left: 430px;
        top: 100px;
    }

    /* --- */

    .block_7 {
        left: -315px;
    }

    /* --- */

    .block_8 {
        left: -310px;
    }
    .block_8 img {
        width: 745px;
        height: 645px;
    }
    .block_8 svg {
        width: 650px;
        left: 1155px;
    }
    
    /* --- */

    .block_9 {
        left: -290px;
    }

    /* --- */

    .block_FAQ {
        left: 45px;
    }

    /* --- */
    footer {
        left: -215px;
    }
    .footer_rightSide {
        left: 1070px;
    }
}

/* ------------------------------------------------------------- */

@media (max-width: 1024px) {
    .logoBlock {
        padding: 30px 70px;
    }

    .linkPages {
        left: 400px;
    }

    header button {
        left: 850px;
    }

    /* --- */
    .block_1 {
        position: absolute;
        left: -430px;
        top: 0px;
    }
    .block_1_mid {
        width: 980px;
        height: 477px;
        left: 453px;
    }
    /* --- */
    .block_2 {
        position: absolute;
        left: -200px;
        top: 0px;
    }
    .block_2_svg_1 {
        width: 1390px;
    }
    .block2_chat {
        left: 748px;
        top: 1524px;

        width: 473px;
        height: 333px;
    }
    .block2_phone {
        left: 335px;
        top: 1996px;
        width: 182px;
        height: 236px;
    }

    /* --- */
    .block_3 {
        position: absolute;
        top: -225px;
    }
    .block_3 h1 {
        left: 60px;
        font-size: 36px;
    }
    .block_3 p {
        left: 60px;
        font-size: 16px;
    }
    .block_3_rightSide {
        left: 522px;
        top: 2309px;
        width: 715px;
    }
    .block_3_chat_boy {
        left: 640px;
        top: 2902px;
        width: 72px;
        height: 72px;
    }
    .block_3_chat_girl {
        left: 893px;
        top: 2843px;
        width: 72px;
        height: 72px;
    }

    /* --- */
    .block_4 {
        position: absolute;
        top: 3155px;
    }
    .block_4_line {
        width: 1035px;
    }
    .block_4 button {
        left: 772px;
        top: 94px;
        width: 180px;
        height: 40px;
        font-size: 16px;
    }

    /* --- */
    
    .block_5 {
        left: -282px;
        top: 3471px;
    }
    .block_5 svg {
        width: 995px;
    }
    .block_5_bg {
        width: 900px;
        height: 468px;
        top: 180px;
    }

    /* --- */

    .block_6 {
        left: -415px;
        top: 4210px;
    }
    .block_6 img {
        width: 578px;
        height: 554px;
        left: 430px;
        top: 155px;
    }
    .block_6 h1 {
        font-size: 34px;
        left: 1065px;
    }
    .block_6 p {
        font-size: 14px;
        left: 1065px;
    }

    /* --- */

    .block_7 {
        left: -315px;
        top: 5070px;
    }
    .block_7 img {
        width: 610px;
        height: 600px;
        left: 820px;
    }
    .block_7 svg {
        width: 600px;
        left: 160px;
        top: -132px;
    }

    /* --- */

    .block_8 {
        left: -310px;
        top: 5780px;
    }
    .block_8 img {
        width: 631px;
        height: 530px;
    }
    .block_8 svg {
        width: 488px;
        left: 1019px;
    }
    
    /* --- */

    .block_9 {
        left: -435px;
        top: 6585px;
    }

    /* --- */

    .block_FAQ {
        left: 45px;
        top: 7300px;
        width: 910px;
    }
    .block_FAQ h1 {
        font-size: 34px;
        left: 460px;
    }
    .block_FAQ .plus {
        left: 920px;
    }
    .block_FAQ h2 {
        font-size: 18px;
    }
    .block_FAQ p {
        font-size: 14px;
        width: 920px;
    }

    /* --- */

    footer {
        left: -215px;
        top: 7970px;
    }
    .footer_rightSide {
        left: 985px;
    }
    .footer_rightSide img {
        width: 215px;
        height: 35px;
    }
}